<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="pure_pursuit" type="main.py" name="main" output="screen"/>

    <include file="$(find object_detector)/launch/object_detector.launch" />
    <include file="$(find traffic_sign)/launch/traffic_sign.launch" />
    <include file="$(find gps_velocity)/launch/gps_velocity.launch" />
    <include file="$(find lane_detection)/launch/lane_detection_faster.launch" />
</launch>